<div>{{vm.message}}</div>
<div>{{vm.test}}</div>
<div>{{vm.sumar(2, 3)}}</div>
<div>
    <ul>
        <li ng-repeat="item in vm.items">
        {{item.nombre}}
        </li>
    </ul>
</div>

<div>
<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Id</th> 
  </tr>
  <tr ng-repeat="item in vm.items">
    <td>{{item.nombre}}</td>
    <td>{{item.id}}</td>
  </tr>
</table>
</div>

<div>
  {{vm.sayHello('Juan')}}
</div>

<div>
  <input type="text" ng-model="vm.message1">
  <p>Mensaje: {{vm.message1}} </p>
  <a href="" ng-click="vm.showMessage();vm.message1='test'">
    Mostrar Mensaje
  </a>
  <button ng-click="vm.showMessage()">
  Click me!
  </button>
</div>
