<div class="edit-content">
  <form name="formEdit" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input name="nombre"
               type="text"
               class="form-control"
               ng-model="vmAngularEdit.selected.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Birth Date</label>

      <div class="col-sm-4">
        <p class="input-group">
          <input name="date"
                 type="text"
                 class="form-control"/>
          <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vmAngularEdit.openDateSelector()">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="vmAngularEdit.saveChanges()" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
