<table ng-table="vmAngular.tableParams" class="table" show-filter="true">
	<tr ng-repeat="user in $data track by user.id">
		<td title="'Id'" filter="{ id: 'number'}" sortable="'id'">
			{{user.id}}</td>
		<td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
			{{user.name}}</td>
		<td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
			{{user.age}}
    </td>
    <!--<td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
			{{vmAngular.getAge(user.birthDate)}}
    </td>-->
		<td title="'Operations'">
			<button 
			ng-click="vmAngular.edit(user)">Edit</button>
		</td>
	</tr>
</table>